<div class="footer">
  <div class="footer-container">
    <ul class="">
      <li><a href="https://github.com/m-develop/" target="_blank">Github 仓库</a></li>
      <li><a href="https://github.com/m-develop/site/issues/2" target="_blank">经典案例</a></li>
      <li><a href="https://github.com/m-develop/site/issues/new" target="_blank">反馈和意见</a></li>
      <li><a href="https://github.com/m-develop/site/issues/1" target="_blank">联系我们</a></li>
    </ul>
    <div class="copyright">
      <p class="copyright-title">2016 蚂蚁金服-体验技术部 出品</p>
      <p class="copyright-content">文档版本：0.8.0</p>
    </div>
  </div>
</div>
